.eco-resolution {
    /* self config */
    flex-grow: 1;
    width: 100%;
    /* children config */
    display: flex;
    justify-content: center;
    align-items: center;

    .grid-cell {
        width: 20px;
        height: 20px;
        border: 1px solid black;

        &.goal {
            background-color: lightseagreen;
        }
        &.wall {
            background-color: black;
        }
    }
}